<div class="lightbox_background"></div>
<%= render 'signup' %>
<%= render 'login' %>
<header class="home_header">
  <h1 class="home_title">Fit Friends</h1>
  <h2 class="home_subtitle">Push Each Other</h2>
  <button class="signup_button">Sign Up</button>
  <button class="login_button">Login</button>
</header>


<%= image_tag "road_track_cropped.jpg", class: "img-responsive" %>


<div class="container marketing">

  <div class="row-fluid">

    <div class="col-md-4">
      <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xpa1/t1.0-9/5606_10151474350053201_920832077_n.jpg" class="img-thumbnail">
      <h2>Create a Challenge</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "map_pic.png", class: "img-responsive" %>
      <h2>View Challenges</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-md-4">
      <img src="https://scontent-a-sjc.xx.fbcdn.net/hphotos-frc3/t1.0-9/999883_10151472868948201_1437756070_n.jpg" class="img-thumbnail">
      <h2>Follow Your Friends</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>

  </div>

</div>

<div class="container marketing">
  <hr>
  <div class="row featurette green">

    <div class="col-md-7">
      <h2 class="featurette-heading">Looking for new workouts to push you further? <span class="text-muted">Complete challenges to get you outside your comfort zone and into the best shape of your life.</span></h2>
      <p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <!-- <button type="button" class="btn btn-success">Yangtze River</button> -->
    </div>

    <div class="col-md-5">
      <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/945924_10151477897293201_1019767841_n.jpg" class="img-thumbnail">
    </div>

  </div>

  <hr>
  <div class="row featurette">

    <div class="col-md-5">
      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/972265_10151474378558201_389385778_n.jpg" class="img-thumbnail">
    </div>

    <div class="col-md-7">
      <h2 class="featurette-heading">Make it a social event! <span class="text-muted">Meet new people by attempting anonymous challenges.</span></h2>
      <p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>

  </div>

<!--   <hr>
  <div class="row featurette green">

    <div class="col-md-7">
      <h2 class="featurette-heading"> <span class="text-muted">Let's go to Chongqing</span></h2>
      <p class="lead">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <button type="button" class="btn btn-success">Chongqing</button>
    </div>

    <div class="col-md-5">
      <img src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xpf1/t1.0-9/995046_10151476186228201_1126246380_n.jpg" class="img-thumbnail">
    </div>

  </div> -->

</div>

