<form class = "new_challenge">
  Title: <input type="text" name="firstname"><br>
  Location: <input type="text" name="lastname"><br>
  Description: <input type="text" name="email"><br>
  Url of Image: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
{{#each users}}
<h1> {{last_name}} </h1>
{{/each}}