
<form accept-charset="UTF-8" action="/challenges" class="new_challenge form" id="new_challenge" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
      Title<input class="form_field" id="challenge_title" name="challenge[title]" type="text"><br>
      Description<textarea class="form_field" id="challenge_description" name="challenge[description]"></textarea><br>
      Image URL<textarea class="form_field" id="challenge_image_url" name="challenge[image_url]"></textarea><br>
      Location<textarea class="form_field" id="challenge_location" name="challenge[location]"></textarea><button class="location_button">Place Pin</button><br>
      Latitude<input class="lat form_field" name="challenge[latitude]" type="text"><br>
      Longitude<input class="long form_field" name="challenge[longitude]" type="text"><br>
      <input class="form_button" name="commit" type="submit" value="Create">
</form>

