
<form accept-charset="UTF-8" action="/challenges" class="new_challenge form" id="new_challenge" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
      Title<input class="form_field" id="challenge_title" name="challenge[title]" type="text", placeholder="Like 'GG Bridge Run'"><br>
      Description<input class="form_field" id="challenge_description" name="challenge[description]", placeholder="Like 'a beautiful run accross GG bridge - sure is a challenge!'"></input><br>
      Image URL<input class="form_field" id="challenge_image_url" name="challenge[image_url]", placeholder="Like 'http://www.wallstreetdaily.com/wp-content/uploads/2012/10/101812BeerStocks.jpg'"></input><br>
      Address:<br>
      <input class="form_field" id="challenge_location" name="challenge[location]", placeholder="Like 'Golden Gate Bridge'"></input>
      <input type="hidden" class="lat form_field" name="challenge[latitude]" type="text"><br>
      <input type="hidden" class="long form_field" name="challenge[longitude]" type="text"><br>
      Tags<input class="form_field" name="challenge_tags" type="text", placeholder="Like 'running', 'San Francisco', 'cardio'"><br>
      <input class="form_button" name="commit" type="submit" value="Create">
</form>

