<header id="top-nav">
  <div id="brand">FitNasty</div>
  <form id="search-form">
    <input id="search" type="text" name="query">
  </form>
  <i class="fa fa-search"></i>
  <a href="/log_out" class="signout_button">Sign Out</a>
</header>
<section class="container">
  <section id="challenge-box">
    <p id="challenge-box-title">Compose New challenge</p>
    <form id="challenge-form">
      <textarea id="new-challenge" cols="30" rows="5" maxlength="140" name="challenge"></textarea>
      <input type="submit" value="challenge">
    </form>
  </section>
  <section id="trends-container">
    <h3>Trends</h3>
    <ul>

    </ul>
  </section>
  <section id="challenges-container">
    <h3>challenges</h3>

  </section>
</section>