"<div class='challenge'>" +
  "<img class='challenge_image' src={{image_url}} alt=''>" +
  "<h1 class='challenge_title'>{{title}}</h1>" +
  "<span class='challenge_location'>{{location}}</span>" +
  "<p class='challenge_description'>{{description}}</p>" +
  "<span class='created_by'>posted by {{user}}</span>" +
  "<div class='tags'>{{tags}}</div>" +
"</div>"

