
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
}

textarea {
  resize: none;
}

h3 {
  color: #66757F;
}

p {
  margin: 0;
}

.profile_container {
  /*margin-top: 3%;*/
}

.float-right {
  float: right;
}


#top-nav {
  background: #444444;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 2;
}

#top-nav a {
  color: white;
  text-decoration: none;
}

#brand {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
  color: white;
  margin-left: 5%;
}

#search {
  position:relative;
  width: 15%;
  border-radius: 10px;
  padding: 1%;
  font-size: 1vw;
  float: right;
  margin: .25% 5%;
}

.fa-search {
  position: absolute;
  top: 15px;
  right: 24px;
}

.left-nav {
  float:left;
  width: 15%;
  height: 20%;
  border-bottom: 1px solid black;
}

.username_profile {
  text-align: center;
}

#profile-image-container {
  text-align: center;
  background: #f6f6f6;
}

.profile_image {
  width: 100%;
}

#trends-container {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  margin-top: 1em;
}

#trends-container h3 {
  margin: 0;
}

#challenges-container {
  width: 100%;
}

#challenges-container h3 {
  padding-left: 10px;
}

.challenge_buttons {
  width: 13%;
}

.challenge {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2%;
  background: white;
}

.challenge_image_figure {
  float: left;
  width: 50%;
}

.challenge_info_container {
  clear: both;
  width: 70%;
}

.charts {
  position: relative;
  float: right;
}


.challenge-content {
  font-size: 20px;
  max-width: 410px;
}

.challenges_river {
  width: 49.5%;
  height: 40em;
  float: right;
  overflow: scroll;
}

.map_challenge_container {
  bottom: 0;
}

#new_challenge {
  height: 100%;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
  margin-right: 4px;
}

.full-name {
  font-weight: bold;
  margin-right: 4px;
}

.username,
.timestamp {
  color: #B1BEC8;
}

.signout_button {
  height: 50%;
  width: 10%;
  float:right;
}

.sign_out_div {
  position: relative;
  float: right;
}

.challenge_image {
  width: 30%;
}

.challenge_title {
  display: inline;
  vertical-align: top;
  font-size: 1.5em;
}

.accepted {
  background-color: yellow;
}

.not_accepted {
  background-color: red;
}

.completed {
  background-color: green;
}

.lifecycle {
  height:50px;
  width: 50px;
  background-color: #666;
}

.friend_selector_button {
  height:50px;
  width:50px;
  background-color: #666;
}

.top_tabs_nav_bar {
  overflow: hidden;
}
