.home_header {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 18%;
  color: white;
  text-shadow: 0 0 2px #4a630a;
}

.home_title {
  font-size: 7em;
}

.home_subtitle {
  font-size: 4em;
}

.container {
  margin-top: 3%;
}

.btn {
  width: 9em;
}

.signup_button, .login_button, #create_challenge, #most_recent, #trending, #completed, #pending, #accepted {
  width: 6em;
  height: 2em;
  margin: 1%;
  font-size: 1.5em;
  border: 4px solid white;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color, .5s;
}

.signup_button:hover, .login_button:hover {
  background-color: #666;
}


.col-md-4 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 3%;
}

.col-md-4 img {
  width: 100%;
  height: 317px;
}

.col-md-5 img {
  width: 500px;
  height: 500px;
}

.featurette {
  padding-top: 2%;
  padding-bottom: 2%
}

.featurette-heading {
  margin-top: 14%;
  font-size: 2.75em;
}


@media screen and (max-width: 991px) {
  .home_title {
    font-size: 4em;
  }

  .home_subtitle {
    font-size: 3em;
  }

  .col-md-4 img {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  header {
    margin-top: 10%;
  }

  .home_title: 2em;

  .col-md-4 img {
    width: 100%
  }

  .home_subtitle {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 410px) {
  .home_title {
    font-size: 2em;
  }

  .home_subtitle {
    font-size: 1em;
  }

  .col-md-4 img {
    height: 300px;
  }
}

