$back_dark: #000;
$back_light: white;

body {
  margin: 0;
  padding: 0;
}

.lightbox_background {
  position: fixed;
  width: 100%;
  height: 110%;
  background-color: $back_dark;
  opacity: .75;
  z-index: 100;
}

.signup_lightbox, .login_lightbox, .friend_selector_lightbox {
  position: fixed;
  width: 40%;
  margin: 15% 32%;
  background-color: $back_light;
  border-radius: 4px;
  text-align: center;
  padding: 3%;
  z-index: 101;
}

.form {
  text-align: center;

  .form_field {
    display: block;
    margin: 2% auto;
    width: 60%;
    height: 3em;
    border-radius: 4px;
  }
}
.form_button {
  position: relative;
  width: 30%;
  height: 3em;
  margin-right: 32%;
  margin-left: 32%;
  text-align: center;
}