html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas {
  width: 500px; height: 500px;
  margin: 0;
  padding: 0;
  clear:both;
  margin-bottom: 10em;
}

#panel {
  padding: 10px;
  position: absolute;
  z-index: 5;
  top: 26%;
  left: 22%;
  background: rgba(255,255,255, 0.8);
}
