$red: #d74136;
$blue: #4486f7;
$green: #0aa25a;

#tabs {
  float: left;
  width: 100%;
  margin: 0 auto;

  .tabs_list {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;

    .tab {
      position: relative;
      width: 25%;
      height: 5.5em;
      text-align: center;
      display: inline-block;
      border-radius: 4px;
      margin-left: 5%;
      margin-top: 4%;
      margin-bottom: 5%;

      a {
        position: relative;
        top: 30%;
        color: white;
        text-decoration: none;
        font-size: 1.5em;
      }
    }

    .tab:nth-child(1) {
      background: $green;
    }

    .tab:nth-child(2) {
      background: $blue;
    }

    .tab:nth-child(3) {
      background: $red;
    }
  }

  .tab_area {
    border-radius: 4px;
    margin-top: -3.4%;
  }
}


#challenge_buttons {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  float: right;
  margin-bottom: 0.2%
}