$red: #d74136;
$blue: #4486f7;
$green: #0aa25a;

#tabs {
  padding: 1%;
  float: left;
  width:85%;
  display: inline;
  margin: 0 auto;

  .tabs_list {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;

    .tab {
      width: 25%;
      height: 4em;
      text-align: center;
      display: inline-block;
      border-radius: 4px;
      margin-left: 5%;

      a {
        position: relative;
        top: 32%;
        color: white;
        text-decoration: none;
        font-size: 1.25em;
      }
    }

    .tab:nth-child(1) {
      background: $green;
    }

    .tab:nth-child(2) {
      background: $blue;
    }

    .tab:nth-child(3) {
      background: $red;
    }
  }

  .tab_area {
    border-radius: 4px;
    min-height: 40em;
  }
}


#challenge_buttons {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}