.signout_button {
  margin-top: 1.5em;
  width: 6em;
  height: 2em;
}

#users {
  padding: 2%;
}

.followers {
  width: 30%;
  float: left;
}

.followees {
  width: 30%;
  float: right;
}

.user {
  width:100%;
  border: 1px solid black;
  text-align: center;
}

.profile_pic_thumbnail_container {
  width: 50%;
  margin:0 auto;
}

.profile_pic_thumbnail {
  width: 100%;
}