.center_text {
  text-align: center;
}

.signout_button {
  margin-top: 1.5em;
  width: 6em;
  height: 2em;
}

.followers {
  width: 45%;
  float: left;
}

.followees {
  width: 45%;
  float: right;
}

.user {
  text-align: center;
  display: inline-flex;
  font-size: 1em;
  margin: 10px 0;
}

.profile_pic_thumbnail_container {
  width: 30%;
  backgroun: gray;
}

.profile_pic_thumbnail {
  width: 100%;
}

.unfollow {
  background: #d74136;
  /*width: 25%;*/
  margin: 0 auto;
  border-radius: 5px;
  padding: 1%;
  margin: 10px;
}

.follow {
  background: #4486f7;
  /*width: 25%;*/
  margin: 0 auto;
  border-radius: 5px;
  padding: 1%;
  margin: 10px;

}

.unfollow a {
  text-decoration: none;
  color: white;

}

.follow a {
  text-decoration: none;
  color: white;
}

#user_search {
  margin:2%;
}

#user_search_input {
  font-size: 2vw;

}

.followers {
  margin: 10px;
  padding: 2%;
}

.followees {
  margin: 10px;
  padding: 2%;
}

.user_info {
  position: relative;
  top: 15px;
}
