#username {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 2em;
}

.center_text {
  text-align: center;
}

.signout_button {
  margin-top: 1.5em;
  width: 6em;
  height: 2em;
}

.followers {
  width: 45%;
  float: left;
  margin: 10px;
}

.followees {
  width: 45%;
  float: right;
  margin: 10px;
}

.user {
  text-align: center;
  display: inline-flex;
  font-size: 1em;
  margin: 10px 0;
}

.profile_pic_thumbnail_container {
  width: 30%;
  backgroun: gray;
}

.profile_pic_thumbnail {
  width: 100%;
}

.unfollow {
  background: #d74136;
  width: 30%;
  border-radius: 5px;
  padding: 1%;
  margin: 10px auto;
  text-align: center;
}

.follow {
  background: #4486f7;
  width: 30%;
  border-radius: 5px;
  padding: 1%;
  margin: 10px auto;
  text-align: center;
}

.unfollow a {
  text-decoration: none;
  color: white;

}

.follow a {
  text-decoration: none;
  color: white;
}

#user_search_input {
  font-size: 1.5vw;
}


.user_info {
  position: relative;
  width: 100%;
}

#user_main {
  float: right;
  overflow: hidden;
  bottom: 0;
  width: 85%;
  text-align: center;
}

#users {
  overflow: hidden;
}

#checkout_button {
  padding:5%;
  word-wrap: break-word;
  text-align: center;
  background: #333;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}