<div class="container">
<!-- MARKETING LINE-->
    <div class="row-fluid">
      <div class="well">
        <div class="row-fluid">
          <div class="span8">
            <p class="lead ">

                          Bootstrap 3 Upgrader: Get your HTML from 2.3 to 3.0! Free Bootstrap 2 =&gt; 3 migration service now alive!
            </p>
          </div>
          <div class="span4">
            <a class="btn btn-large btn-danger btn-block" href="http://bootstrap3.kissr.com/" target="_blank"> Start upgrade →</a>

          </div>

        </div>
      </div>
    </div>
    <!-- /MARKETING LINE-->
</div>
<div class="container">

    <div class="row-fluid">
      <div class="span6 offset3">
        <div id="myCarousel" class="carousel slide vertical">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <img src="http://placehold.it/600x400&amp;text=First+Slide">
                </div>
                <div class="item">
                    <img src="http://placehold.it/600x400&amp;text=Second+Slide">
                </div>
                <div class="item">
                    <img src="http://placehold.it/600x400&amp;text=Third+Slide">
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
        </div>
    </div>
</div>
</div>