<header id="top-nav">
  <form id="search-form">
    <input id="search" type="text" name="query" placeholder="Search for challenges">
  </form>
  <div class="sign_out_div">
    <a href="/log_out" class="signout_button">Sign Out</a>
  </div>
  <a href="/"><div id="brand">Fit Friends</div></a>
</header>


<main class="profile_container">
  <div class="left-nav">
    <section id="profile-image-container">
      <img class='profile_image' src="http://simpleicon.com/wp-content/uploads/user1.png">
    </section>
    <h1><%="#{@user.first_name} #{@user.last_name}" %></h1>


    <section id="friends-container">
      <h3>Friends</h3>
      <ul>

      </ul>
    </section>

    <section id="trends-container">
      <h3>Trends</h3>
      <button class="test_show">Show</button>
      <ul>

      </ul>
    </section>
  </div>

  <!-- Tabs -->
  <div id="tabs">
    <ul class="tabs_list">
      <li class="tab" id = "accepted_tab"><a href="#accepted">accepted</a></li>
      <li class="tab" id = "challenges_tab"><a href="/users/<%= params[:id] %>/accepted">challenges</a></li>
      <li class="tab" id = "users_tab"><a href="#users">users</a></li>
    </ul>
    <div class="tab_area" id="accepted">
      <p>accepted</p>
    </div>
    <div class="tab_area" id="challenges">
      <section id="challenges-container">
        <h3>challenges</h3>

      </section>
    </div>
    <div class="tab_area" id="users">
      <%= render :partial => 'follow', locals: {user: @user} %>
    </div>
  </div>
</main>