<header id="top-nav">
  <form id="search-form">
    <input id="search" type="text" name="query" placeholder="Search for challenges">
  </form>
  <div class="sign_out_div">
    <a href="<%=log_out_path%>" class="signout_button">Sign Out</a>
  </div>
  <div id="brand"><%= link_to 'FitFriends', @signed_in_user %></div>
</header>

<main class="profile_container">
  <div class="left-nav">
  <section id="profile-image-container avatar">
    <img class='profile_image' src="http://simpleicon.com/wp-content/uploads/user1.png">
  </section>
    <h3><%="#{@user.first_name} #{@user.last_name}" %></h3>

    <section id="trends-container">
      <h3>Trends</h3>
      <ul>

      </ul>
    </section>
  </div>

  <!-- Tabs -->
  <div id="tabs">
    <ul class="tabs_list">
      <li class="tab" id="challenges_tab"><a href="#challenges">challenges</a></li>
      <li class="tab" id="users_tab"><a id="user_tab" href="#users">users</a></li>
    </ul>

    <div class="tab_area" id="challenges">
      <section id="challenges-container">
        <button id = "create_challenge" class="test_show">Create</button>
        <button id = "most_recent"> Recent </button>
        <button id = "trending"> Trending </button>
        <div>
        </div>
      </section>
    </div>

    <div class="tab_area" id="users">
      <%= render :partial => 'follow', locals: {user: @user} %>
    </div>
  </div>
</main>

