{{#each users}}
<h1> {{last_name}} </h1>
{{/each}}

Everything below this should be removed and put into the js file

var test_one = {users: data}
    $('where_to_append').append(HandlebarsTemplates['challenges/new'](test_one)